@page
@model University_Grant_Application_System.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Departments</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New Department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Department Name
            </th>
            <th>
                School
            </th>
            <th>
                Department Chair
            </th>
            <th>
                Modify
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School.SchoolName)
            </td>
            <td>
                @Model.DepartmentChairs[item.DepartmentId]            
           </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DepartmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
